<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkmark App</title>
</head>
<body>

    <h1>Checkmark App</h1>

    <form action="">
        <div>
            <label for="Title">Todo Title</label>
            <input type="text" name="title" placeholder="Enter Todo">
            <br>
            <button type="submit">Add Todo</button>
        </div>
    </form>

    {% for todo in todo_list %}
        <p>{{ todo.id }} | {{ todo.title }}</p>

    {% endfor %}
    
</body>
</html>